body {
    font-family: 'Droid Sans', sans-serif;
    background-color: lightblue;
}

h1, h2 {
    font-family: 'Lobster', cursive;
}


.title {
    min-width: 100%;
    height: auto;
    padding: 10px;
    margin: auto;
    text-align: center;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: sans-serif;
    background-color: lightblue;
}

.input {
    border-style: solid;
    border-radius: 25px;
    padding: 5px 20px 20px 20px;
    margin: 5px;
    min-width: 40%;
    height: 200px;
    text-align: center; 
    background-color: #fff;
    display: inline-block; 
    float: left;
}

@media only screen and (max-width: 693px) {
    .input {
        display: block;
        margin: 20px 5px 20px 5px;
        max-width: 100%;
        float: none;
    }
}

.output {
    border-style: solid;
    border-radius: 25px;
    padding: 5px 20px 20px 20px;
    margin: auto;
    min-width: 40%;
    height: 200px;
    text-align: center; 
    background-color: #fff;
    float: right;
    display: inline-block;
    overflow: auto;
    margin: 5px;
    
   
}

@media only screen and (max-width: 693px) {
    .output {
        display: block;
        margin: 20px 5px 20px 5px;
        max-width: 100%;
        float: none;
    }
}


#salary {
    margin-bottom: 16px; 
}

.tax-bands {
    border-style: solid;
    border-radius: 25px;
    padding: 5px 20px 20px 20px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 50%; 
    text-align: center;
    background-color: #fff;
    clear: both;
    
}

@media only screen and (max-width: 693px) {
    .tax-bands {
        margin: 20px 5px 20px 5px;
        max-width: 100%;
    }
}

th, td {
    border-bottom: 1px solid #000;  
}

table {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.h2 {
    padding-top: 0px;
}